# disable directory browsing -IMPORTANT, do NOT remove.
Options -Indexes
 
# protect the htaccess file
<files .htaccess>
order allow,deny
deny from all
</files>
 
# disable the server signature
ServerSignature Off
